@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Authentication.Google

@{
    ViewData["Title"] = "Inicio";
    Layout = "_Layout"; // Usa el layout principal
    var rol = Context.Session.GetString("UsuarioRol");
    var isLoggedIn = User.Identity.IsAuthenticated;
}

@section Styles {
    <style>
        body {
            background-image: url('/img/fondoUn1.png');
            background-size: cover;
            background-position: center;
            height: 100vh;
            color: white;
            text-shadow:  none !important;
        }

        .inicio-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 80vh;
        }

        .inicio-container h1 {
            font-size: 2.8rem;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .inicio-container p {
            font-size: 1.2rem;
            max-width: 800px;
            margin-bottom: 30px;
        }

        .btn-iniciar {
            background-color: red;
            color: white;
            padding: 15px 40px;
            font-size: 1.5rem;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            margin-top: 20px;
            transition: background-color 0.3s ease;
            text-decoration: none;
        }

        .btn-iniciar:hover {
            background-color: darkred;
        }

        .btn-cerrar {
            margin-top: 30px;
            background-color: #b80000;
            color: white;
            padding: 12px 30px;
            font-size: 1.2rem;
            border: none;
            border-radius: 6px;
            cursor: pointer;
        }

        .btn-cerrar:hover {
            background-color: #930000;
        }
    </style>
}

<div class="inicio-container">
    <h1>Bienvenido al Examen Psicométrico de la<br> Universidad del Norte</h1>
    <p>
        La Universidad del Norte ofrece un proceso que guía a los estudiantes en la elección de una carrera o profesión que se ajuste a sus intereses, habilidades, valores y personalidad.
        Se enfoca en ayudar a tomar decisiones informadas y a lograr una mayor satisfacción en el ámbito profesional.
    </p>

    @if (!isLoggedIn)
    {
        <a class="btn-iniciar" href="/login/google">Iniciar sesión</a>
    }
    else
    {
        <p>Hola, @User.Identity.Name</p>
        <a href="/ExamenPsico/Iniciar" class="btn-iniciar">Iniciar Examen</a>

        <form method="post" action="/login/logout" style="margin-top: 20px;">
            <button type="submit" class="btn-cerrar">Cerrar sesión</button>
        </form>
    }
</div>
