@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Authentication.Google

@{
    ViewData["Title"] = "Login";
}

<h2>Bienvenido al Portal Psicológico</h2>

@if (!User.Identity.IsAuthenticated)
{
    <a class="btn btn-primary" href="/login/google">Iniciar sesión con Google</a>


}
else
{
    <p>Hola, @User.Identity.Name</p>
    <form method="post" action="/login/logout">
        <button type="submit" class="btn btn-danger">Cerrar sesión</button>
    </form>
}


/*Hola*/